In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('Speed_Dating_Data.csv', encoding="ISO-8859-1")
data.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

In [5]:
data['match'].head()

0    0
1    0
2    1
3    1
4    1
Name: match, dtype: int64

##### Separer les feature et les labels

In [6]:
features, labels = data.drop(['match'], axis=1), data['match']

# 1. Preprocessing data
  - 1.1 Cleaning
  - 1.2 Transformation
  - 1.3 Reduction by PCA

In [10]:
na_sum = list(data.isnull().sum())
na_sum

[0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1846,
 0,
 0,
 10,
 0,
 158,
 0,
 104,
 73,
 89,
 89,
 89,
 98,
 107,
 129,
 0,
 212,
 287,
 306,
 360,
 722,
 1076,
 250,
 318,
 385,
 95,
 63,
 82,
 3464,
 5245,
 4795,
 63,
 79,
 79,
 79,
 1064,
 4099,
 79,
 97,
 79,
 89,
 138,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 101,
 6578,
 79,
 79,
 79,
 89,
 99,
 121,
 1889,
 1889,
 1889,
 1889,
 1889,
 1911,
 79,
 79,
 79,
 79,
 89,
 89,
 105,
 105,
 105,
 105,
 105,
 3472,
 3472,
 3472,
 3472,
 3472,
 0,
 202,
 277,
 296,
 350,
 712,
 1067,
 240,
 309,
 375,
 1173,
 4282,
 4282,
 4282,
 4282,
 4282,
 4282,
 4378,
 4378,
 4378,
 4378,
 4378,
 915,
 915,
 945,
 6394,
 6423,
 6394,
 6394,
 6423,
 6404,
 933,
 915,
 915,
 915,
 915,
 915,
 2603,
 2603,
 2603,
 2603,
 2603,
 2603,
 2603,
 2603,
 2603,
 2603,
 2603,
 2603,
 915,
 915,
 915,
 915,
 915,
 4001,
 4001,
 4001,
 4001,
 4001,
 4404,
 4404,
 4404,
 6882,
 7710,
 4404,
 4404,
 4404,
 4404,
 4404,
 4404,
 6362,
 6362,
 6362,
 6362,
 6362,
 6362,
 5419,
 5419,
 5419,
 5419,
 5419,
 5419,
 5419,
 5419,
 5419,
 5419,
 5419,
 6362,
 4404,
 4404,
 4404,
 4404,
 4404,
 6362,
 6362,
 6362,
 6362,
 6362]